<div *ngFor="let tas of tasks">
    <div class="list-main">
      <div>
        <h5 class="heading">{{ tas.task }}</h5>
        <span class="label_text">From: </span><p class="value_text">{{ tas.from }}</p><br>
        <span class="label_text">To: </span><p class="value_text">{{ tas.to }}</p><br>
        <span class="label_text">Due Date: </span><p class="value_text due_date">{{ tas.dueDate | date : "MMM dd"  }}</p><br>
      </div>
      <div>
        <ng-container *ngIf="tas.status === 0">
          <!-- HTML block for status 0 (Low Risk) -->
          <div class="low_risk_box">
            <span class="low_risk_circle"></span>
            <span class="low_risk_text">Low Risk</span>
          </div>
        </ng-container>
        <ng-container *ngIf="tas.status === 1">
          <!-- HTML block for status 1 (Unassigned) -->
          <div class="unassigned_box">
            <span class="unassigned_circle"></span>
            <span class="unassigned_text">Unassigned</span>
          </div>
        </ng-container>
        <ng-container *ngIf="tas.status === 2">
          <!-- HTML block for status 2 (Uncomplete) -->
          <div class="uncomplete_box">
            <span class="uncomplete_circle"></span>
            <span class="uncomplete_text">Uncomplete</span>
          </div>
      </ng-container>
    </div>
</div>
