<div class="filter-form">
    <label>Task:
      <input [formControl]="filterTask" placeholder="Search by task">
    </label>
    <label>Form:
        <input [formControl]="filterForm" placeholder="Filter by Form">
      </label>
    <label>Status:
      <input [formControl]="filterStatus" placeholder="Filter by status (0, 1, 2)">
    </label>
    <label>Due Date:
      <input type="date" [formControl]="filterDate">
    </label>
</div>
<button (click)="downloadCSV()">Download</button>

<button (click)="log()">prinitn</button>

<button (click)="showTable()">Table</button>
<button (click)="showMap()">Map</button>


<app-table *ngIf="!this.table_map_toogle" [tasks]="this.filteredTasks"></app-table>

<app-map-screen *ngIf="this.table_map_toogle" [tasks]="this.filteredTasks"></app-map-screen>
