<table class="table">
  <tr>
    <th><input type="checkbox" /></th>
    <th>Task</th>
    <th>Status</th>
    <th>From</th>
    <th>To</th>
    <th>Customer Address</th>
    <th>Due Date</th>
  </tr>
  <tr *ngFor="let tas of paginatedTasks">
    <td><input type="checkbox" /></td>
    <td>{{ tas.task }}</td>
    <td>
      <ng-container *ngIf="tas.status === 0">
        <div class="low_risk_box">
          <span class="low_risk_circle"></span>
          <span class="low_risk_text">Low Risk</span>
        </div>
      </ng-container>
      <ng-container *ngIf="tas.status === 1">
        <div class="unassigned_box">
          <span class="unassigned_circle"></span>
          <span class="unassigned_text">Unassigned</span>
        </div>
      </ng-container>
      <ng-container *ngIf="tas.status === 2">
        <div class="uncomplete_box">
          <span class="uncomplete_circle"></span>
          <span class="uncomplete_text">Uncomplete</span>
        </div>
      </ng-container>
    </td>
    <td>{{ tas.from }}</td>
    <td>{{ tas.to }}</td>
    <td>{{ tas.customerAddress }}</td>
    <td>{{ tas.dueDate | date : "MMM dd',' hh:mm a" }}</td>
  </tr>
</table>

<div class="pagination-container">
  <div class="pagination-info">
    {{ (page - 1) * pageSize + 1 }}-{{ getMaxItems() }} of {{ tasks.length }} submissions
  </div>

  <ngb-pagination
    class="pagination-numbers"
    [collectionSize]="tasks.length"
    [(page)]="page"
    [pageSize]="pageSize"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="onPageChange()">
  </ngb-pagination>
</div>




